html, body {
    height: 100%;
    /* margin: 0; */
}

.common-img-style {
    max-width: 100%;
    height: auto;
}

.textCenter {
    text-align: center;
}

#h1-div {
    color: #800020;
    border: outset;
}

#footer {
    background-color: #0e3d53;
    color: white;
    border: solid;
}

@media only screen and (min-width: 768px)  {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* other styles specific to iPads and laptops */
    }
}

h2 {
    color: #800020;

}

#username-p {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    color: #8c3902;
}

#timer-div {
    text-align: left;
    font-size: 20px;
    background-color: burlywood;
}

.top-level {
    /* Aligns the children items in a row direction */
    display: flex;
    width: 100%;
    height: auto;
}

.sub-level1 {
    margin-left: 2%;
    width: 60%;
    height: auto;
}

.sub-level2 {
    border-left: 3px solid #8c3902;
    margin-left: 3%;
    width: 35%;
    height: auto;
}

#register-div {
    /* Centre align register form */
    margin: auto;
    width: 50%;
    border: 3px outset;
    padding: 10px;
}

.correct-icon {
    color: green;
    font-size: 18px;
}

.wrong-icon {
    color: red;
    font-size: 18px;
}

#score {
    color: #800020;
    font-weight: bold;
    font-style: italic;
    font-size: 18px
}

button {
    color: #800020;
    font-weight: bold;
    font-size: 16px;
    border: solid;
}